extensions:
	images: Carrooi\ImagesManager\DI\ImagesManagerExtension


php:

	date.timezone: Europe/Prague

application:
	scanDirs: false
	mapping:
		*: CarrooiTests\*Module\Presenters\*Presenter

session:
	autoStart: false

images:
	storage:
		class: CarrooiTests\Mocks\StorageMock

	dummy:
		class: CarrooiTests\Mocks\DummyImageProviderMock


services:

	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
