images:

	basePath: %appDir%/../www/images/base

	baseUrl: /images/base

	mask:
		images: <namespace><separator><namespace>_<name>.<extension>
		thumbnails: <namespace><separator><namespace>_<name>_<resizeFlag>_<size>.<extension>

	namespaces:

		colors:
			resizeFlag: stretch
			default: white.png
			quality: 100

			lists:
				best:
					- black.jpg
					- pink.png

		lines:
			default:
				- white.png
				- black.png

		squares:
			lists:
				bestOf:
					- white.png
					- black.png

			default: <list|bestOf>
